.playing-card {
    display: inline-block;
    overflow: visible;
}

.hand {
    overflow: visible;
}


/* Player hand positioning */ 

.player-card-1 {
    position: absolute;
    top: 80%;
}

.player-card-2 {
    position: absolute;
    right: 70%;
    transform: rotate(90deg);
}

.player-card-3 {
    position: absolute;
    top: 5%;
}

.player-card-4 {
    position: absolute;
    right: 18%;
    transform: rotate(270deg);
}


/* Deck */

.card-deck {
    position: absolute;
    top:40%;
    right: 45%;  
}


/* Cards that have been kicked */

.player-card-kicked {
    position: absolute;
    top: 40%;
    right: 40%;
}

.card-kicked-2 {
    position: absolute;
    right: 39% !important;  
}

.card-kicked-3 {
    position: absolute;
    right: 38% !important;  
}

.card-kicked-4 {
    position: absolute;
    right: 37% !important;  
}



/* Cards that have been played */

.card-played-1 {
    position: absolute;
    right: 45%;
    top: 60%;
}

.card-played-2 {
    position: absolute;
    right: 58%;
    top: 40%;
}

.card-played-3 {
    position: absolute;
    right: 45%;
    top: 22%;
}

.card-played-4 {
    position: absolute;
    right: 30%;
    top: 40%;
}


