.playing-card {
    display: inline-block;
    overflow: visible;
}

.hand {
    overflow: visible;
}


/* Player hand positioning */ 

.player-card-1 {
    position: absolute;
    top: 80%;
}

.player-card-2 {
    position: absolute;
    right: 70%;
    transform: rotate(90deg);
}

.player-card-3 {
    position: absolute;
    top: 5%;
}

.player-card-4 {
    position: absolute;
    right: 18%;
    transform: rotate(270deg);
}


/* Deck */

.card-deck {
    position: absolute;
    top:40%;
    right: 45%;  
}


/* Cards that have been kicked */

.player-card-kicked {
    position: absolute;
    top: 40%;
    right: 40%;
}

.card-kicked-2 {
    position: absolute;
    right: 39% !important;  
}

.card-kicked-3 {
    position: absolute;
    right: 38% !important;  
}

.card-kicked-4 {
    position: absolute;
    right: 37% !important;  
}



/* Cards that have been played */

.card-played-1 {
    position: absolute;
    right: 45%;
    top: 60%;
}

.card-played-2 {
    position: absolute;
    right: 58%;
    top: 40%;
}

.card-played-3 {
    position: absolute;
    right: 45%;
    top: 22%;
}

.card-played-4 {
    position: absolute;
    right: 35%;
    top: 40%;
}




/* Player 1 Card Positioning */
/*
.player1 .card-0 {
    position: absolute;
    right: 64%;
}

.player1 .card-1 {
    position: absolute;
    right: 60%;
}

.player1 .card-2 {
    position: absolute;
    right: 56%;
}

.player1 .card-3 {
    position: absolute;
    right: 52%;
}

.player1 .card-4 {
    position: absolute;
    right: 48%;
}

.player1 .card-5 {
    position: absolute;
    right: 44%;
}

.player1 .card-6 {
    position: absolute;
    right: 40%;
}

.player1 .card-7 {
    position: absolute;
    right: 36%;
}

.player1 .card-8 {
    position: absolute;
    right: 32%;
}

.player1 .card-9 {
    position: absolute;
    right: 28%;
}

.player1 .card-10 {
    position: absolute;
    right: 24%;
}

.player1 .card-11 {
    position: absolute;
    right: 22%;
}
*/
/* Player 2 Card Positioning */

.player2 .card-0 {
    position: absolute;
    top: 20%;
}

.player2 .card-1 {
    position: absolute;
    top: 25%;
}

.player2 .card-2 {
    position: absolute;
    top: 30%;
}

.player2 .card-3 {
    position: absolute;
    top: 35%;
}

.player2 .card-4 {
    position: absolute;
    top: 40%;
}

.player2 .card-5 {
    position: absolute;
    top: 45%;
}

.player2 .card-6 {
    position: absolute;
    top: 50%;
}

.player2 .card-7 {
    position: absolute;
    top: 55%;
}

.player2 .card-8 {
    position: absolute;
    top: 60%;
}

.player2 .card-9 {
    position: absolute;
    top: 65%;
}

.player2 .card-10 {
    position: absolute;
    top: 70%;
}

.player2 .card-11 {
    position: absolute;
    top: 75%;
}


/* Player 3 Card Positioning */
.player3 .card-0 {
    position: absolute;
    right: 64%;
}

.player3 .card-1 {
    position: absolute;
    right: 60%;
}

.player3 .card-2 {
    position: absolute;
    right: 56%;
}

.player3 .card-3 {
    position: absolute;
    right: 52%;
}

.player3 .card-4 {
    position: absolute;
    right: 48%;
}

.player3 .card-5 {
    position: absolute;
    right: 44%;
}

.player3 .card-6 {
    position: absolute;
    right: 40%;
}

.player3 .card-7 {
    position: absolute;
    right: 36%;
}

.player3 .card-8 {
    position: absolute;
    right: 32%;
}

.player3 .card-9 {
    position: absolute;
    right: 28%;
}

.player3 .card-10 {
    position: absolute;
    right: 24%;
}

.player3 .card-11 {
    position: absolute;
    right: 22%;
}


/* Player 4 Card Positioning */

.player4 .card-0 {
    position: absolute;
    top: 20%;
}

.player4 .card-1 {
    position: absolute;
    top: 25%;
}

.player4 .card-2 {
    position: absolute;
    top: 30%;
}

.player4 .card-3 {
    position: absolute;
    top: 35%;
}

.player4 .card-4 {
    position: absolute;
    top: 40%;
}

.player4 .card-5 {
    position: absolute;
    top: 45%;
}

.player4 .card-6 {
    position: absolute;
    top: 50%;
}

.player4 .card-7 {
    position: absolute;
    top: 55%;
}

.player4 .card-8 {
    position: absolute;
    top: 60%;
}

.player4 .card-9 {
    position: absolute;
    top: 65%;
}

.player4 .card-10 {
    position: absolute;
    top: 70%;
}

.player4 .card-11 {
    position: absolute;
    top: 75%;
}

