@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

.blue-button {
  background-color: #0ea5e9;
  border: 0;
  color: white;
}

.blue-button:hover {
  background-color: #38bdf8;
}

.green-button {
  background-color: #22c55e !important;
  border: 0 !important;
  color: #fff !important;
}

.green-button:hover {
  background-color: #4ade80 !important;
}

.red-button {
  background-color: #ef4444 !important;
  border: 0 !important;
  color: #fff !important;
}

.red-button:hover {
  background-color: #f87171 !important;
}

.yellow-button {
  background-color: #fbbf24 !important;
  border: 0 !important;
  color: black !important;
}

.yellow-button:hover {
  background-color: #fcd34d !important;
}

.white-button {
  background-color: white !important;
  border-width: 1px !important;
  border-color: black !important;
  border-style: solid;
  color: black !important;
}

.white-button:hover {
  background-color: #e2e8f0 !important;
}

.disabled-button {
  background-color: #cbd5e1 !important;
  border: 0 !important;
  color: #64748b !important;
}

.disabled-button:hover {
  background-color: #cbd5e1 !important;
}

.blue-glow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 200, 255, 0.9);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 200, 255, 0.9);
  box-shadow: 0px 0px 8px 0px rgba(0, 200, 255, 0.9);
}

.gold-glow {
-webkit-box-shadow: 0px 0px 8px 0px rgba(242, 190, 0, 0.9);
  -moz-box-shadow: 0px 0px 8px 0px rgba(242, 190, 0, 0.9);
  box-shadow: 0px 0px 8px 0px rgba(242, 190, 0, 0.9);
}

.red-glow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.9);
  box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.9);
}