@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
    background-color: #f7f7f7 !important;
    font-family: 'Epilogue' !important;
  }

.room-created-h1 {
    font-size: 32px;
}

.room-created-h2 {
    font-size: 16px;
}

.room-created-id {
    font-size: 56px;
    font-weight: bold;
}

.room-modal {
    text-align: center;
}

.popup-content {
    border-radius: 30px;
    width: 25em !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

.game-button {
    border-radius: 25px;
    border-style: solid;
}

.lobby-button {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.create-button {
    background-color: #16e04d;
    border-color: #16e04d;
    color: white;
}

.create-button:hover {
    background-color: #12c442;
    border-color: #12c442;
    color: white;
}

.join-button {
    background-color: #2a9bf7;
    border-color: #2a9bf7;
    color: white;
}

.join-button:hover {
    background-color: #157cd1;
    border-color: #157cd1;
}

.lobby-card {
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.nickname-field {
    margin-bottom: 25px;
}

.room-field {
    margin-bottom: 15px;
}
